* {
  box-sizing: border-box ;
  margin: 0 ;
  padding: 0 ;
  font-family: 'Rubik', sans-serif;
}




html {
  font-size: 16px ;
}


@media screen and (max-width: 700px) {
  html {
    font-size: 14px ;
  }
}
/*
- Very Dark Gray: hsl(0, 0%, 17%)
- Dark Gray: hsl(0, 0%, 59%)

- Font size (text input): 18px

- Family: [Rubik](https://fonts.google.com/specimen/Rubik)
- Weights: 400, 500, 700

*/
